<head>
  <meta charset="utf-8">
  <title>App Meteor</title>
</head>
<body style="padding-top: 70px">
  <header class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Tasks</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
          </ul>
        </div>
     </div>
    </nav>
  </header>

  <main class="container">
    {{#if currentUser}}
      {{> new}}
      {{> list}}
    {{else}}
      <p>Você não esta logado!</p>
    {{/if}}
  </main>
</body>
