<template name="new">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="form-group">
          <label for="task">Tarefa</label>
          <input type="text" name="task" class="form-control" placeholder="Sua tarefa aqui">
        </div>

        <div class="form-group">
          <button type="submit" name="new" class="btn btn-sm btn-primary btn-block">Nova Tarefa</button>
        </div>
      </form>
    </div>
  </div>
</template>
