<template name="list">
  <div class="row">
    <div class="col-xs-12">
      {{#each tasks}}
      <div class="row">
        <div class="col-xs-11">
          {{dateFormat}} - {{name}}
        </div>
        <div class="col-xs-1">
          <button type="button" name="remove" class="btn btn-sm btn-danger">Apagar</button>
        </div>
      </div>
      <hr>
      {{/each}}
    </div>
  </div>
</template>
